# files
/**/package-lock.json
/**/*config.json
/**/*.log
.env

# folders
/**/node_modules
/**/.vscode
/**/__pycache__
/**/.venv
/data
client/package.json
client/config/config.json.template
server/config/dev.config.json.template
server/tempCodeRunnerFile.js
