{
    "app_host": "localhost",
    "app_port": 3001,
    "max_upload_size": 31457280,
    "upload_job_expire": 300,
    "log_file": "/path/to/your-moon-server.log",
    "log_level": "debug",
    "session_key": "Base64_random_bytes_for_express_session_secret",
    "aes_key": "Base64_aes_key_256_bits_for_email_encryption",
    "jwt_secret": "Base64_jwt_secret_with_HS256_algorithm_512_bits",
    "cors_origin_whitelist": [
        "http://localhost:5173"
    ],
    "db": {
        "host": "localhost",
        "port": 3306,
        "user": "username",
        "password": "password",
        "database": "YourMoonDB"
    },
    "aws": {
        "accessKeyId": "SUPER/SECRET?KEY1",
        "secretAccessKey": "THIS@KEY%IS*EVEN%MORE$SECRET",
        "region": "us-west-2",
        "bucket_name": "my-bucket-name"
    },
    "oauth":{
        "github":{
            "clientId":"somesecretid",
            "clientSecret":"somesecretsecret"
        },
        "google":{
            "clientId":"somesecretid",
            "clientSecret":"somesecretsecret"
        }
    }
}
