version: "3"
services:
  
  your-moon-server:
    build:
      context: .
    image: your-moon-server
    container_name: your-moon-server
    restart: unless-stopped
    volumes:
      - "./config:/src/config"
      - "./uploadedImages:/src/uploadedImages"
      - "./:/src/data"
    ports:
      - "3001:3001"
  
  your-moon-redis:
    build:
      context: ../redis/
      dockerfile: Dockerfile
      args:
        REDIS_CONFIG: ${REDIS_CONFIG}
    image: your-moon-redis
    container_name: your-moon-redis
    restart: unless-stopped